# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# System files
.DS_Store

# SQLite DB
*.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
