{% extends "base.html" %}
{% block title %}My Info{% endblock %}
{% block content %}
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>My Info</h2>
            <p>Hello! My name is Alex. Feel free to check out my github!</p>
        </div>
    </header>
    <div class="wrapper">
        <div class="inner">
            <p>Here’s a link to my GitHub profile:</p>
            <a href="https://github.com/ajnguy" class="button primary icon brands fa-github" target="_blank">
                Visit GitHub
            </a>
        </div>
    </div>
</section>
{% endblock %}
